<div class="container">
  <button
    (click)="
      setPath(
        'http://flapboon-ml-data.s3-website-us-east-1.amazonaws.com/clean-floor.jpg'
      )
    "
    type="button"
    class="btn btn-primary m-1"
  >
    Image 1
  </button>
  <button
    (click)="
      setPath(
        'http://flapboon-ml-data.s3-website-us-east-1.amazonaws.com/dirty-floor.jpg'
      )
    "
    type="button"
    class="btn btn-primary m-1"
  >
    Image 2
  </button>
  <button
    (click)="
      setPath(
        'http://flapboon-ml-data.s3-website-us-east-1.amazonaws.com/clean-floor2.png'
      )
    "
    type="button"
    class="btn btn-primary m-1"
  >
    Image 3
  </button>
  <div class="mb-3">
    <label for="exampleDropdownFormEmail1" class="form-label">Path</label>
    <input
      [(ngModel)]="path"
      type="email"
      class="form-control"
      id="exampleDropdownFormEmail1"
      placeholder="Enter S3 path here"
    />
  </div>
  <button (click)="analyse()" type="button" class="btn btn-primary">
    Analyse
  </button>
  <!-- <div class="mt-3">
    <img [src]="path" height="200" />
  </div> -->

  <div class="mt-5" *ngIf="loading">Analysing........</div>
  <div class="mt-5" *ngIf="!loading">
    <h5>Results:</h5>
    Label : {{ label }} <br />
    Confidence : {{ confidence }}
  </div>
</div>
